<button class="navbar-toggler aabtn d-block d-{{header.header_breakpoint}}-none px-1 my-1 me-3 border-0" data-toggler="drawers" data-action="toggle" data-target="theme_boost-drawers-primary">
    <span class="navbar-toggler-icon"></span>
    <span class="visually-hidden">{{#str}}sidepanel, core{{/str}}</span>
</button>