{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
    @package   local_moon
    @copyright 2026 Moon Framework
}}
{{!
    @template local_moon/header/horizontal
    This template renders the horizontal header.
}}
<header id="moon-header" class="{{header.class}}"{{header.headAttrs}}>
    <div class="header-wrap navbar navbar-expand shadow-none">
        {{> local_moon/header/includes/boots_burger }}
        <div class="header-left-section as-gutter-x-xl@lg d-flex justify-content-start{{#header.is_left}} flex-{{header.header_breakpoint}}-grow-1{{/header.is_left}}">
            {{> local_moon/header/includes/logo }}
            {{{ header.block_2 }}}
            {{#header.is_left}}
                {{> local_moon/header/includes/primary_menu }}
            {{/header.is_left}}
        </div>
        {{#header.is_center}}
            <div class="header-center-section d-none d-{{header.header_breakpoint}}-flex justify-content-center flex-{{header.header_breakpoint}}-grow-1">
                {{> local_moon/header/includes/primary_menu }}
            </div>
        {{/header.is_center}}
        <div class="header-right-section as-gutter-x-xl@lg d-none d-{{header.header_breakpoint}}-flex justify-content-end {{#header.is_right}}flex-{{header.header_breakpoint}}-grow-1{{/header.is_right}}">
            {{#header.is_right}}
                {{> local_moon/header/includes/primary_menu }}
            {{/header.is_right}}
            <ul class="navbar-nav d-none d-md-flex my-1 px-1">
                <!-- page_heading_menu -->
                {{{ output.page_heading_menu }}}
            </ul>
            {{{ header.block_1 }}}
            <div id="usernavigation" class="navbar-nav h-100">
                {{# output.search_box }}
                    {{{ output.search_box }}}
                    <div class="divider border-start h-75 align-self-center mx-1"></div>
                {{/output.search_box}}
                {{#langmenu}}
                    {{> theme_boost/language_menu }}
                    <div class="divider border-start h-75 align-self-center mx-1"></div>
                {{/langmenu}}
                {{{ output.navbar_plugin_output }}}
                <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
                    {{#usermenu}}
                        {{> core/user_menu }}
                    {{/usermenu}}
                </div>
            </div>
        </div>
    </div>
    {{> theme_boost/primary-drawer-mobile }}
</header>