{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
    @package   local_moon
    @copyright 2026 Moon Framework
}}
{{!
    @template local_moon/elements/text/default
    This template renders the text widget.
}}
{{#has_title}}<{{html_element}} class="moon-content-heading">{{title}}</{{html_element}}>{{/has_title}}
{{#has_content}}<div class="moon-content-text{{text_column_cls}}">{{{content}}}</div>{{/has_content}}