{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
    @package   local_moon
    @copyright 2026 Moon Framework
}}
{{!
    @template local_moon/elements/button/default
    This template renders the button widget.
}}
<div class="{{button_class}}" role="group">
{{#buttons}}
    <a id="{{id}}" href="{{link}}" class="{{class}}"{{link_target}}>
        {{#is_text}}<small>{{/is_text}}
        {{#has_icon}}
            {{#icon_position_first}}<i class="{{icon}} me-2"></i>{{/icon_position_first}}{{title}}{{^icon_position_first}}<i class="{{icon}} ms-2"></i>{{/icon_position_first}}
        {{/has_icon}}
        {{^has_icon}}{{title}}{{/has_icon}}
        {{#is_text}}</small>{{/is_text}}
    </a>
{{/buttons}}
</div>