<div class="logo-wrapper moon-logo">
    <a href="{{{ logo.link }}}" class="moon-logo {{logo.class}} navbar-brand">
        {{# logo.is_text }}
            {{{ logo.text }}}
            {{{ logo.tag_line }}}
        {{/ logo.is_text }}
        {{^ logo.is_text }}
            <img src="{{logo.default}}" class="logo moon-logo-default" alt="{{logo.text}}">
            <img src="{{logo.default_dark}}" class="logo moon-logo-default dark" alt="{{logo.text}}">
        {{/ logo.is_text }}
    </a>
</div>