<header id="moon-header" class="{{header.class}}">
    <nav class="header-stacked-section navbar navbar-expand justify-content-between flex-column w-100 shadow-none">
    {{#header.is_center_balance}}
        <div class="moon-header-center-balance w-100 d-flex justify-content-center">
            {{> local_moon/header/includes/boots_burger }}
            <div class="w-100 d-none d-{{header.header_breakpoint}}-flex justify-content-start align-items-center">
                {{{ output.navbar_plugin_output }}}
                {{{ header.block_1 }}}
            </div>
            <div class="d-flex w-100 justify-content-center">{{> local_moon/header/includes/logo }}</div>
            <div class="w-100 d-flex justify-content-end align-items-center">
                {{{ header.block_2 }}}
                <div id="usernavigation" class="navbar-nav h-100">
                    {{# output.search_box }}
                        {{{ output.search_box }}}
                        <div class="divider border-start h-75 align-self-center mx-1"></div>
                    {{/output.search_box}}
                    {{#langmenu}}
                        {{> theme_boost/language_menu }}
                        <div class="divider border-start h-75 align-self-center mx-1"></div>
                    {{/langmenu}}
                    <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
                        {{#usermenu}}
                            {{> core/user_menu }}
                        {{/usermenu}}
                    </div>
                </div>
            </div>
        </div>
        {{> local_moon/header/includes/primary_menu }}
    {{/header.is_center_balance}}
    {{#header.is_center}}
        <div class="w-100 d-flex justify-content-center">
            <div class="d-{{header.header_breakpoint}}-none">
                {{> local_moon/header/includes/boots_burger }}
            </div>
            <div class="w-100 d-flex justify-content-center">
                {{> local_moon/header/includes/logo }}
            </div>
            <div class="d-{{header.header_breakpoint}}-none" style="min-width: 30px;"></div>
        </div>
        {{> local_moon/header/includes/primary_menu }}
        {{{ header.block_1 }}}
    {{/header.is_center}}
    {{#header.is_divided}}
        <div class="w-100 d-flex justify-content-center py-3">
            {{> local_moon/header/includes/boots_burger }}
            <div class="d-flex flex-md-shrink-0 flex-grow-1 justify-content-center justify-content-{{header.header_breakpoint}}-start">{{> local_moon/header/includes/logo }}</div>
            <div class="d-none d-{{header.header_breakpoint}}-flex w-100 flex-grow-1 justify-content-end py-2 align-items-center">{{{ header.block_1 }}}</div>
            <div class="d-{{header.header_breakpoint}}-none" style="min-width: 30px;"></div>
        </div>
        <div class="moon-stacked-divided-menu as-megamenu-section d-none d-{{header.header_breakpoint}}-block py-2 w-100">
            <div class="row">
                <div class="col">{{> local_moon/header/includes/primary_menu }}</div>
                <div class="d-flex col-auto">{{{ header.block_2 }}}</div>
            </div>
        </div>

    {{/header.is_divided}}
    </nav>
    {{> theme_boost/primary-drawer-mobile }}
</header>