.moon-logo {
  .moon-logo-image > img {
    max-width: 250px;
    max-height: 65px;
  }
}
.moon-logo-default{
  &.dark {
    display: none;
  }
}
[data-bs-theme=dark] {
  .moon-logo-default{
    display: none;
    &.dark {
      display: block;
    }
  }
}
