.moodle-dialogue-base .moodle-dialogue-wrap {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color);
  .file-picker .fp-content {
    background-color: var(--bs-body-bg);
  }
}