.loginform {
  max-width: 600px;
  margin: auto;
  border: 1px solid var(--bs-border-color);
  padding: 30px;
  border-radius: 10px;
  @include media-breakpoint-up(md, $grid-breakpoints) {
    padding: 40px;
  };
  @include media-breakpoint-up(lg, $grid-breakpoints) {
    padding: 50px;
  };
  .login-logo {
    margin-bottom: 40px;
  }
  .btn {
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
  }
  #loginbtn {
    margin-top: 10px;
  }
}
.usermenu {
  > .login {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
  }
}