{{#has_content}}
    <div class="{{wrapper_classes}}">
        {{#social_profiles}}
            <a title="{{title}}" {{#is_color}}aria-label="{{title}}" style="color:{{color}}"{{/is_color}} href="{{link}}" target="_blank" rel="noopener"><i class="{{icon}}"></i></a>
        {{/social_profiles}}
    </div>
{{/has_content}}